tool/.idea
tool/.venv

tool/forge/__pycache__
tool/forge_test/__pycache__

tool/cg/*.smg
tool/cg/*.bin

tool/build

tool/compiler/ep1_lin_ADS/*
!tool/compiler/ep1_lin_ADS/ReadMe.md
tool/compiler/ep1_win_ADS/*
!tool/compiler/ep1_win_ADS/ReadMe.md
tool/compiler/ep2_lin_devkitARM/*
!tool/compiler/ep2_lin_devkitARM/ReadMe.md
tool/compiler/ep2_win_devkitARM/*
!tool/compiler/ep2_win_devkitARM/ReadMe.md
