tool/kitchen/.idea
tool/kitchen/.venv

tool/kitchen/forge/__pycache__
tool/kitchen/forge_test/__pycache__

tool/cg/*.smg
tool/cg/*.bin
tool/irom/*.bin

tool/kitchen/build

tool/compiler/ep1_lin_ADS/*
!tool/compiler/ep1_lin_ADS/ReadMe.md
tool/compiler/ep1_win_ADS/*
!tool/compiler/ep1_win_ADS/ReadMe.md
tool/compiler/ep2_lin_devkitARM/*
!tool/compiler/ep2_lin_devkitARM/ReadMe.md
tool/compiler/ep2_win_devkitARM/*
!tool/compiler/ep2_win_devkitARM/ReadMe.md
